<nav class="navbar navbar-expand-lg navbar-light color-surfplace">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="../../assets/logo.png" alt="Image" with="80px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="who-we-are"><small>Quem somos</small></a>
        </li>
      </ul>
   </div>
</nav>

<router-outlet></router-outlet>

<footer class="bd-footer text-muted color-surfplace">
    <div class="container-fluid p-3 p-md-5">
      <div class="row">
        <div class="form-inline">
          <a href="" class="nav-link text-white">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" target="_blank" class="nav-link text-white">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
      <div class="form-inline py-3 text-white">
        <label>Desenvolvido por: </label>
        <a href="https://www.produzesistemas.com.br" class="nav-link text-white" target="_blank">
          <img src="../../assets/logo_white_produze.png">
        </a>
      </div>
        <ul class="bd-footer-links">
                <li> <a class="text-white" href="master-area-login">
                  Área do Master
                </a></li>
                <li> <a class="text-white" href="client-area-login">
                  Área do Cliente
                </a></li>
        </ul>
        <div class="form-inline py-3 text-white">
            <label>Certificado de segurança: </label>
            <a class="nav-link text-white" target="_blank">
                <img src="../../../assets/le-logo-wide-2-1.png" width="150px" alt="Image">
            </a>
        </div>
    </div>
  </footer>
