<div class="container">
    <div class="py-5">
        <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formAdd">
                        <div class="form-group col-md-12">
                            <h5 class="card-title text-center">Cadastro de Usuário</h5>
                        </div>

                        <div class="form-group col-md-12">
                            <label>Nome do Usuário:</label>
                            <input type="text" maxlength="255" class="form-control" id="userName" formControlName="userName"
                                placeholder="Informe o Nome de Usuário..." />
                            <div *ngIf="submitted && f.userName.errors">
                                <p *ngIf="f.userName.errors.required" class="text-danger small">Informe o nome de usuário</p>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12">
                            <label>Email:</label>
                            <input type="text" formControlName="email" placeholder="Informe o email..." class="form-control">
                            <div *ngIf="submitted && f.email.errors">
                                <p *ngIf="f.email.errors.required" class="text-danger small">* Informe o email</p>
                              </div>
                          </div>
                

                        <div class="form-group col-md-12 py-1">
                            <button type="button" class="btn btn-rounded btn-primary" (click)="onSave()">
                                <i class="fa fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-rounded btn-danger ml-2" (click)="onCancel()">
                                <i class="fas fa-arrow-circle-left"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
