<div class="text-center">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/bg4.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src=".../../../assets/bg2.png" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="col-lg-12">
    <h5>Bem vindo ao Sistema de Controle de Estoque</h5>

    <div class="text-justify">
      Lorem ipsum dolor sit amet. Sit dolorum molestiae qui veritatis dolores ea maxime eligendi non consequatur magni.
      Qui repellat autem et temporibus optio ut officia facere 33 sapiente quidem ab labore enim et quas reprehenderit
      hic error accusantium. Et iste labore ab distinctio molestiae ea illum impedit est minima laudantium eum esse odio
      sed eius doloremque et ratione quis. Ex minus fuga ab assumenda sapiente est vero unde est sunt veritatis.

      Et corporis provident qui Quis necessitatibus sit commodi sint qui omnis distinctio ex voluptas accusamus et illum
      dolore. Vel quia enim vel itaque exercitationem non consequuntur accusantium et totam nihil et inventore itaque
      aut voluptatibus repudiandae. Aut deserunt iusto aut odit quaerat id commodi expedita rem rerum fugit hic
      veritatis laborum!

      Eos temporibus libero eos iure dolor ut impedit iste non voluptatum earum in odit dolores. Ut enim praesentium ad
      illum provident non officia omnis id enim dolorum. Ea sint nemo et inventore architecto aut praesentium vero qui
      quia ipsam.
    </div>
  </div>
</div>